{% extends 'base.html' %}

{% block title %}{{ user.username }} Profile {% endblock %}

{% block content %}
    {% if self_dash %}
        <a href="{% url 'posts:add_post' request.user.id %}">Add post</a>
    {% endif %}
    <h4 class="text-center">{{ user.username|capfirst }}</h4>
    <p class="text-center">{{ user.profile.bio }}</p>
    <br><br>
    {% for post in posts %}
        <div class="card">
            <a href="{{ post.get_absolute_url }}"><p class="card-body">{{ post }}</p></a>
        </div>
    {% empty %}
        <p>This user has no posts!</p>
    {% endfor %}
{% endblock %}